.input-test-panel-input {
  min-width: 100px;
  align-self: flex-start;
  padding: var(--xh-pad-px);
  margin-right: var(--xh-pad-px);
  border: var(--xh-border-solid);
  background: var(--xh-bg);

  &_value {
    margin: auto;
    margin-bottom: var(--xh-pad-px);
    font-size: var(--xh-font-size-small-px);
    font-family: var(--xh-font-family-mono);
    background-color: var(--xh-bg-alt);
    border: var(--xh-border-solid);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &_input {
    margin: auto;
  }
}

.input-test-panel-param {
  border: var(--xh-border-solid);
  background: var(--xh-bg);

  &_display {
    margin: var(--xh-pad-px);
    font-size: var(--xh-font-size-small-px);
    font-family: var(--xh-font-family-mono);
    background-color: var(--xh-bg-alt);
    border: var(--xh-border-solid);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &_control {
    margin: auto;
    margin-right: var(--xh-pad-px);
  }
}
