@import './helpers';

body {
  --panel-bg: var(--xh-bg);
  --panel-border-width: 1;
}

.toolbox-tab > .xh-tab-switcher--left > .bp3-tab-list {
  width: 140px;
  border-right: var(--xh-border-solid);
}

.toolbox-multiselect {
  max-width: 240px;
  max-height: 60px;
}